[Unit]
Description=LinBPQ
After=network.target

[Service]
Type=forking
WorkingDirectory=/home/pi/nodes/pe1rrr
Restart=always
RestartSec=90
StartLimitInterval=400
StartLimitBurst=3
User=pi
Group=pi
ExecStart=/usr/bin/screen -S pe1rrr -d -m /home/pi/nodes/pe1rrr/runbpq
SyslogIdentifier=LinBPQ

[Install]
WantedBy=multi-user.target
