[Unit]
Description=Audio Snoop Streamer Start Script by PE1RRR
After=vara.service
Conflicts=wsjtx.service
Requires=vara.service

[Service]
Type=forking
WorkingDirectory=/home/pi/bin
Restart=always
RestartSec=10
StartLimitInterval=60
StartLimitBurst=6
User=pi
Group=pi
ExecStart=/home/pi/bin/startaudiosnoop
SyslogIdentifier=AudioSnoop

[Install]
WantedBy=multi-user.target
