[Unit]
Description=Shack Desktop Start Script by PE1RRR
After=network.target

[Service]
Type=forking
WorkingDirectory=/home/pi/bin
Restart=always
RestartSec=20
StartLimitInterval=60
StartLimitBurst=3
User=pi
Group=pi
ExecStart=/home/pi/bin/vvnc-modems
SyslogIdentifier=Shack-VNC

[Install]
WantedBy=multi-user.target
